body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

.project img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.galeria .imagenes {
    display: flex;
    justify-content: center;
    gap: 1rem; /* espacio entre im치genes */
    flex-wrap: wrap; /* para que se acomoden en pantallas peque침as */
}

.galeria .imagenes img {
    width: 10%;
    max-width: 120px; /* no ser치 m치s grande que esto */
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}
